
.x-icon {
    color: #FC4F4F;
}

.my-playlist-track-element{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.playlist-delete-button {
    background-color: #C4DDFF;
    border: none;
    outline: none;
    font-size: 1rem;
}

.my-playlist-spotify {
    width: 19rem;
}

.attention-border {
    box-shadow: 0px 0 12px 4px #FC4F4F;
}

.track-element-wrapper {
    width: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}