button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.card-wrapper {
    display: flex;
    align-self: center;
    justify-content: center;
}

.movie-card img {
    width: 180px;
    border: none;
}

.movie-card {
    margin-bottom: 3rem;
    width: 250px;
    height: 370px;
    font-weight: 200;
    /*background-color: #7FB5FF;*/
    background-color: #C4DDFF;
    border-radius: 8px;
    /*background: #8e9eab;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to top, #eef2f3, #8e9eab); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

.card-inner {
    padding: 1.2rem 0;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    background-color: #F6F6F6;
    border-radius: 8px;
}

.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}

.card-front {

}

.card-back {
    transform: rotateY(180deg);
}

.favorites-button {
    background-color: #C4DDFF;
    border-radius: 8px;
    padding: 0.5rem;
    font-weight: 700;
    margin-top: 0.7rem;
    box-shadow: 3px 2px 4px lightgrey;
    width: 10rem;
}

.card-status {
    margin: 0.4rem;
}

.card-title {
    margin: 0.4rem;
    font-weight: 300;
}

.card-image {
    margin: 0.4rem;
    border-radius: 8px;
}