.gallery-main {
    display: flex;
    flex-direction: column;
    text-align: center;

}

button {
    border: none;
    background-color: white;
    cursor: pointer;
}

input {
    align-self: center;
    width: 18rem;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    padding: 0.5rem;
}

.send-button {
    background-color: #F6F6F6;
    border-radius: 8px;
    padding: 0.5rem;
    font-weight: 700;
    margin-top: 0.7rem;
    box-shadow: 3px 2px 4px lightgrey;
    width: 10rem;
    align-self: center;
    font-size: 1rem;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-movies-header {
    margin-top: 1rem;
}