button {
    border: none;
    background-color: white;
    cursor: pointer;
}

a {
    margin: 0.8rem 0 ;
}

.login-button {
    background-color: #F6F6F6;
    border-radius: 8px;
    padding: 0.5rem;
    font-weight: 700;
    margin: 1rem 0;
    box-shadow: 3px 2px 4px lightgrey;
    width: 10rem;
    align-self: center;
    font-size: 1rem;
}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.form-items {
    margin-top: 1rem;
}

@media (min-width: 470px) {
    .login-inputs {
        display: flex;
        flex-direction: column;
    }
}
